<!-- 
  Button
  label = Set the label for this button,
  size = "small", "normal", "big"
  color = 'set a color for your button'
-->
<script>
  export let label = '', size='normal', color = 'primary'

  let sizeClass = 'h-12 w-64 textSize-base'
  if (size === 'small') {
    sizeClass = 'h-6 w-32 textSize-sm'
  } else if (size === 'big') {
    sizeClass = 'h-18 w-64 textSize-lg'
  }

  // TODO: Wait for color implement or create a small palette
  let colorClass = 'text-primary-b90 bg-primary hover:bg-primary-b10'
  if (color === 'secondary') {
    colorClass = 'text-secondary-b90 bg-secondary hover:bg-secondary-b10'
  }
  // hover:bg-${color}${bgHoverBrightness} hover:bg-primary-b30
  const dynamicClasses = `${colorClass} ${sizeClass}`
</script>


<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  .button {
    @apply flex items-center justify-center px-6 mt-8 rounded font-semibold;
  }
</style>

<button class="button {sizeClass} {colorClass}" on:click>
    {label}
</button>
