<script>

  export let userTypeColor = 'red', userType = 'Developer', content = 'My card content', date = '', answers= 0
  
  const calendarIcon = 'M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z'
  const defaultPersonIcon = 'M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z'
  const circleIcon = 'M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'
  const answerIcon = 'M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z'
  const threeDots = 'M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z'
 
  let userColorCss = `text-primary bg-primary-b20`
  if (userTypeColor === 'red') {
    userColorCss = `text-red-500 bg-red-100`
  } else if (userTypeColor === 'green') {
    userColorCss = `text-green-500 bg-green-100`
  }
  
  </script>
  
  <style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .card {
      @apply relative flex flex-col items-start p-4 mt-3 bg-white rounded-lg cursor-pointer bg-opacity-90;
    }
    .card:hover {
      @apply bg-opacity-100;
    }
    .options {
      @apply absolute top-0 right-0 flex items-center justify-center hidden w-5 h-5 mt-3 mr-2 text-gray-500 rounded;
    }
    .options:hover {
      @apply bg-gray-200 text-gray-700;
    }
    .userType {
      @apply flex items-center h-6 px-3 text-xs font-semibold rounded-full;
    }
    .cardContent {
      @apply mt-3 text-sm font-medium;
    }
    .icon {
      @apply w-4 h-4 text-gray-300 fill-current;
    }
    .textForIcon {
      @apply ml-1 leading-none;
    }
    .footer {
      @apply flex items-center w-full mt-3 text-xs font-medium text-gray-400;
    }
  </style>
  
  <div class="card group" draggable="true">
    <button class="options  group-hover:flex">
      <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d={threeDots} />
      </svg>
    </button>
    <span class="userType {userColorCss}" >{userType}</span>
    <h4 class="cardContent">{content}</h4>
    <div class="footer">
      <div class="flex items-center">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d={calendarIcon} clip-rule="evenodd" />
        </svg>
        <span class="textForIcon">{date}</span>
      </div>
      {#if answers}
        <div class="relative flex items-center ml-4">
          <svg class="icon relative" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d={answerIcon} clip-rule="evenodd" />
          </svg>
          <span class="textForIcon">{answers}</span>
        </div>
      {/if}
      <svg  class="w-6 h-6 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d={circleIcon}/>
        <path fill-rule="evenodd" d={defaultPersonIcon}/>
      </svg>
    </div>
  </div>