<script>
  export let title= "My title", cardCounter = 0

  const addIcon = "M12 6v6m0 0v6m0-6h6m-6 0H6"

</script>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .cardListOuter {
    @apply flex flex-col flex-shrink-0 w-72 mr-6;
  }
  .cardListInner {
    @apply flex flex-col pb-2 overflow-auto;
  }
  .cardListHeader {
    @apply flex items-center flex-shrink-0 h-10 px-2;
  }
  .cardListTitle {
    @apply block text-sm font-semibold;
  }
  .cardCounter {
    @apply flex items-center justify-center w-5 h-5 ml-2 text-sm font-semibold text-secondary bg-white rounded bg-opacity-30;
  }
  .addCard {
    @apply flex items-center justify-center w-6 h-6 ml-auto text-secondary rounded;
  }
  .addCard:hover {
    @apply bg-secondary text-secondary-b10;
  }
</style>

<div class="cardListOuter">
	<div class="cardListHeader">
		<h2 class="cardListTitle">{title}</h2>
		<span class="cardCounter">{cardCounter}</span>
		<button class="addCard">
			<svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={addIcon}></path>
			</svg>
		</button>
	</div>
	<div class="cardListInner">
	  <slot></slot>
	</div>
</div>