<!-- Form for inputs -->
<script>
</script>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>

<form class="flex flex-col bg-white rounded shadow-lg p-12 mt-12" action="">
    <slot></slot>
</form>