<!-- 
  Standard input field with these properties:
  name = Name of field,
  value = Name of variable,
  type=  text, password or number
-->
<script>
  export let name = '', value = '', type="text"
</script>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    
    .input {
        @apply flex items-center h-12 px-4 w-64 bg-gray-200 mt-3 rounded;
    }
    .input:focus {
        @apply outline-none ring-2;
    }
</style>

<label class="font-semibold text-xs" for="{name}">{name}</label>
{#if type === "text"}
  <input class="input" bind:value={value} type="text">
{:else if type === "password" }
  <input class="input" bind:value={value} type="password">
{:else if type === "number" }
  <input class="input" bind:value={value} type="number">
{/if}
