<script>
  export let title = ""
</script>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  .outerBox {
      @apply flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-background; 
  }
  
  .title {
      @apply px-10 mt-6 text-2xl font-bold;
  }
  
  .cardListParent {
      @apply flex flex-grow px-10 mt-4 space-x-6 overflow-auto;
  }
  
</style>

<div class="outerBox">
  {#if title}
    <h1 class="title">{title}</h1>
  {/if}
  <div class="cardListParent">
      <slot></slot>
  </div>
</div>