<script>
  export let label = 'Unnamed menu entry'
  export let href = '#'
  export let icon = 'home'
  export let color = 'blue'
</script>

<li class="mr-6 my-2 md:my-0">
  <a
    href="{href}"
    on:click
    class="block py-1 md:py-3 pl-1 align-middle text-{color}-400 no-underline hover:text-gray-100 border-b-2 border-{color}-400 hover:border-{color}-400"
  >
    <i class="fas fa-{icon} fa-fw mr-3 text-{color}-400" /><span
      class="pb-1 md:pb-0 text-sm">{label}</span
    >
  </a>
</li>
