<script>
  export let width=16, color='gray'
  
  const dynamicClasses = `w-${width} border-${color}-800 text-${color}-500`
</script>

<!-- Navigation Bar -->
<div class="flex flex-col items-center pb-4 overflow-auto border-r {dynamicClasses}">
  <slot></slot>
</div>