<!-- 
  Standard Layout
-->
<script>
    export let title = ""
</script>

<svelte:head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{title}</title>
</svelte:head>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>

<body class="font-sans">
  {#if title}
    <h1 class="font-bold text-2xl">{title}</h1>
  {/if}
  <slot></slot>
</body>
