<!-- 
  Standard login layout.
  Can set a customized title.
  Use the events to trigger an action (e.g. server.trigger("next"))
  Receives 
-->
<script>
  export let title = "Admin Dashboard Login", username = "$msg.payload.username", password= "$msg.payload.password"
  import { createEventDispatcher, onMount } from 'svelte'
  
  // prevent setting values into input field
  let isDefaultUsernameVariable = false
  if (username = "$msg.payload.username") {
    isDefaultUsernameVariable = true
    username = ""
  }
  let isDefaultPasswordVariable = false
  if (password = "$msg.payload.password") {
    isDefaultPasswordVariable = true
    password = ""
  }

  let error = {}
  // event dispatcher to create events to handle on the UI
  const dispatch = createEventDispatcher();
	function triggerLogin() {
    $msg.payload.username = username
    $msg.payload.password = password
    dispatch('login')	
  }
	function triggerForgotPassword() { dispatch('forgotPassword')	}
  function triggerSignUp() { dispatch('signUp') }

  let msg
  onMount(async () => {
    // layout needs to get the msg object itself
    msg = client.get('msg')
    events.on('error', receivedMsg => {
      error = receivedMsg.payload.error || {}
    })
    if (isDefaultUsernameVariable) {
      username = $msg.payload.username
    }
    if (isDefaultPasswordVariable) {
      password = $msg.payload.password
    }   
  })
  
</script>

<svelte:head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{title}</title>
</svelte:head>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .label {
    @apply font-semibold text-xs;
  }
  .input {
    @apply flex items-center h-12 px-4 w-64 bg-background mt-2 rounded;
  }
  .input:focus {
    @apply outline-none ring-2;
  }
  .button {
    @apply flex items-center justify-center h-12 px-6 w-64 mt-8 rounded font-semibold text-sm  bg-primary text-primary-b90;
  }
  .button:hover {
    @apply bg-primary-b10;
  }
  .link {
    @apply text-primary;
  }
  .link:hover {
    @apply text-primary-d10;
  }
  .error {
    @apply block mt-1 text-red-500;
  }
</style>

<body class="flex flex-col items-center justify-center w-screen h-screen bg-background text-background-d80">
  <h1 class="font-bold text-2xl">{title}</h1>
  {#each Object.entries(error) as [key, message] }
    {#if key !== "username" && key !== "password"}
      <div class="error text-xl mt-2">Error: {key} {message}</div>
    {/if}
  {/each}
  <form class="flex flex-col bg-white rounded shadow-lg p-12 mt-12" action="">
    <label class="label" for="usernameField">Username</label>
    <input class="input" type="text" bind:value={username}>
    {#if error.username} 
      <span class="error text-xs">{error.username}</span>
    {/if}
    <label class="label mt-3" for="passwordField">Password</label>
    <input class="input"type="password" bind:value={password}>
    {#if error.password} 
      <span class="error text-xs">{error.password}</span>
    {/if}
    <button class="button" on:click={triggerLogin}>Login</button>
    <div class="flex mt-6 justify-center text-xs">
      <a class="link" on:click={triggerForgotPassword} href="#">Forgot Password</a>
      <span class="mx-2">/</span>
      <a class="link" on:click={triggerSignUp} href="#">Sign Up</a>
    </div>
  </form>
</body>
